#dice-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    gap: 20px;
}

#roll-button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#roll-button:hover {
    box-shadow: 3px 4px 5px black;
    cursor: pointer;
}
#roll-button:active {
    box-shadow: none;
}

#bonus-point {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: solid;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#final-score {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: solid;
}