body{
    background-color: lightblue;
}
#quote-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#quote-input {
    height: 50px;
    width: 1000px;
    border-radius: 10px;
    border-style: solid;
    border-color: pink;
    color: brown;
}

#quote-button {
    height: 25px;
    width: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: purple;
    background-color: pink;
    color: white;
}

#quote-button:hover {
    box-shadow: 3px 4px 5px black;
    cursor: pointer;
}
#quote-button:active {
    box-shadow: none;
}